<h1>Articles</h1>

<article ng-repeat="article in articles">
  <div class="row">
    <div class="col-sm-9">
      <h2>{{ article.title }}</h2>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-3 col-sm-push-9">
      <div class="media">
        <a class="pull-left" href="#">
          <img class="media-object img-rounded" ng-src="{{ article.feed.image }}" alt="{{ article.feed.name }}" width="32" height="32">
        </a>
        <div class="media-body">
          <h5 class="media-heading"><a href="#">{{ article.feed.name }}</a></h5>
          <p class="text-muted">{{ article.time | date:'short' }}</p>
        </div>
      </div>
      <button class="btn btn-default btn-xs">Mark as read</button>
    </div>
    <div class="col-sm-9 col-sm-pull-3">
      <div ng-bind-html="article.content" class="entry-content"></div>
    </div>
  </div>
</article>